
<div class="container">
  <h1>Customer History</h1><button style="margin-bottom: 7px;" ng-click="vm.cancel()">Go back</button>
  <div class="row">
    <div style="border: 3px solid pink; border-radius: 10px; padding: 5px;" class="col-md-12">
      <h2>{{vm.cust}}</h2>
    </div>
  </div>
</div>

<table  class="table table-striped">
  <thead>
    <tr>
      <th>Product</th>
      <th>Buyer</th>
      <th>Quantity</th>
      <th>Retail Cost</th>
      <th>Discount Rate</th>
      <th>Tax</th>
      <th>Total Profits</th>
      <th>More Info</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody ng-repeat="sale in vm.sales">
    <tr>
      <td>{{sale.product_name}}</td>
      <td>{{sale.customer_name}}</td>
      <td>{{sale.sale_quantity}}</td>
      <td>{{sale.sale_cost}}</td>
      <td>{{sale.sales_discount}}%</td>
      <td>{{sale.sales_tax}}%</td>
      <td>{{sale.total_sale}}</td>
      <td><a>View</a></td>
      <td>
        <div><a>Edit</a></div>
        <div><a>Delete</a></div>
      </td>
    </tr>
  </tbody>
</table>
