<h1>Product</h1>
<button ng-click="vm.cancel()">Go back</button>
<table ng-repeat="item in vm.post"  class="table table-striped">
  <thead>
    <tr>
      <th>Product</th>
      <th>Color</th>
      <th>Quantity</th>
      <th>Cost</th>
      <th>Tax</th>
      <th>Discount</th>
      <th>Total Cost</th>
      <th>Retail Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{item.name}}</td>
      <td>{{item.color}}</td>
      <td>{{item.quantity}}</td>
      <td>{{item.cost}}</td>
      <td>{{item.tax}}%</td>
      <td>{{item.discount}}%</td>
      <td>{{item.total_cost}}</td>
      <td>{{item.retail_cost}}</td>
    </tr>
  </tbody>
</table>
