<button ng-click="vm.cancel()">Go back</button>
<h1 style="color: white; text-shadow: 2px 2px 3px PaleVioletRed;">Product</h1>
<table ng-repeat="item in vm.post"  class="table table-striped">
  <thead>
    <tr>
      <th>Product</th>
      <th>Color</th>
      <th>Quantity</th>
      <th>Cost</th>
      <th>Tax</th>
      <th>Discount</th>
      <th>Total Cost</th>
      <th>Retail Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{item.name}}</td>
      <td>{{item.color}}</td>
      <td>{{item.quantity}}</td>
      <td>{{item.cost}}</td>
      <td>{{item.tax}}%</td>
      <td>{{item.discount}}%</td>
      <td>{{item.total_cost}}</td>
      <td>{{item.retail_cost}}</td>
    </tr>
  </tbody>
</table>

<h1 style="color: white; text-shadow: 2px 2px 3px PaleVioletRed;">Sales</h1>
<table  class="table table-striped">
  <thead>
    <tr>
      <th>Product</th>
      <th>Buyer</th>
      <th>Quantity</th>
      <th>Retail Cost</th>
      <th>Discount Rate</th>
      <th>Tax</th>
      <th>Total Profits</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody ng-repeat="sale in vm.sales">
    <tr>
      <td>{{sale.product_name}}</td>
      <td>{{sale.customer_name}}</td>
      <td>{{sale.sale_quantity}}</td>
      <td>{{sale.sale_cost}}</td>
      <td>{{sale.sales_discount}}%</td>
      <td>{{sale.sales_tax}}%</td>
      <td>{{sale.total_sale}}</td>
      <td>
        <div><a ng-click="vm.deleteThisSale(sale.id)">Delete</a></div>
      </td>
    </tr>
  </tbody>
</table>
