<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
    <style media="screen">
      .midSec{

      }
      .col-xs-4{
        color: white;
        text-shadow: 2px 2px 3px PaleVioletRed;
        text-align: center;
        margin-top: 10%;
      }
    </style>
        <nav id="navi" class="navbar navbar-default " role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <h1 id="lipStyle">Lipster</h1>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">

          <a class="navbar-brand" href="#">Login dropdown</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-right">
            <li><p class="navbar-text">Don't have an account?</p></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Sign up</b> <span class="caret"></span></a>
    			<ul id="login-dp" class="dropdown-menu">
    				<li>
    					 <div class="row">
    							<div class="col-md-12">

    								 <form class="form" role="form" method="post" action="/NewUser" accept-charset="UTF-8" id="login-nav">
    										<div class="form-group">
    											 <label class="sr-only" for="exampleInputEmail2">Email address</label>
    											 <input type="email" class="form-control" name="email" id="exampleInputEmail2" placeholder="Email address" required>
    										</div>
    										<div class="form-group">
    											 <label class="sr-only" for="exampleInputPassword2">Password</label>
    											 <input type="password" name="createPass" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                                                 <div class="help-block text-right">
    										</div>
    										<div class="form-group">
    											 <button type="submit" class="btn btn-primary btn-block">Sign up</button>
    										</div>
    								 </form>
    							</div>

    					 </div>
    				</li>
    			</ul>
            </li>

            <li><p class="navbar-text">Already have an account?</p></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
    			<ul id="login-dp" class="dropdown-menu">
    				<li>
    					 <div class="row">
    							<div class="col-md-12">

    								 <form class="form" role="form" method="post" action="LoginUser" accept-charset="UTF-8" id="login-nav">
    										<div class="form-group">
    											 <label class="sr-only" for="exampleInputEmail2">Email address</label>
    											 <input type="email" name="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
    										</div>
    										<div class="form-group">
    											 <label class="sr-only" for="exampleInputPassword2">Password</label>
    											 <input type="password" name="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                                                 <div class="help-block text-right">
    										</div>
    										<div class="form-group">
    											 <button type="submit" class="btn btn-primary btn-block">Sign in</button>
    										</div>
    								 </form>
    							</div>
    					 </div>
    				</li>
    			</ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">

    <div class="row midSec">
      <div class="col-xs-4">
        <h1>User friendly</h1>
        <h4>
          Lipster was made to be as easy to use as possible
          so no more headaches from giant spreadsheets with a million inputs.
        </h4>
      </div>
      <div class="col-xs-4">
        <h1>Track</h1>
        <h4>
          Lipster keeps track of all your sales, customers, and products in a neat and organized fashion
          so you'll never have to deal with struggling to find the right information again.
        </h4>
      </div>
      <div class="col-xs-4">
        <h1>Relax</h1>
        <h4>
          You can relax knowing all your information is in one place and always there to be accessed by you.
          24/7
        </h4>
      </div>
    </div>
  </div>


<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left">© 2017 - Daniel Versoza
      </p>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
    // $(document).ready(function() {
    //   var docHeight = $(window).height();
    //   var footerHeight = $('.footer').height();
    //   var footerTop = $('.footer').position().top + footerHeight;
    //
    //   if (footerTop < docHeight) {
    //    $('.footer').css('margin-top', 10+ (docHeight - footerTop) + 'px');
    //   }
    //   });
    </script>
  </body>
</html>
